{% extends 'base.html.twig' %}

{% block body %}
    {{ include('core/change_points_modal.html.twig') }}
    <div class="app">
        {{ include('core/header.html.twig') }}
        <main>
            {% block main %}{% endblock %}
        </main>
    </div>
{% endblock %}
