<div class="modal-points modal-container">
  <div class="modal">
    <h2>Ajouter des points</h2>
    <p>Ajout de poits supplémentaires pour le dossier</p>
    <p class="mt-1">Score actuel: 6240</p>

    <form class="mt-2">
      <input type="number" name="points" />
      <button type="submit">Enregistrer</button>
    </form>
  </div>
</div>
