<header>
    <h1>PAO</h1>

    <img src="https://minions.fr/wp-content/uploads/2021/10/minions-bob-peluche.jpg" alt="logo">

    <ul>
        <li {% if type == 'prod' %}class="active"{% endif %}>
            <a href="{{ path('home', { type: 'prod' }) }}">Prod</a>
        </li>

        <li {% if type == 'mak' %}class="active"{% endif %}>
            <a href="{{ path('home', { type: 'mak' }) }}">Maquettes</a>
        </li>

        <li {% if type == 'cov' %}class="active"{% endif %}>
            <a href="{{ path('home', { type: 'cov' }) }}">Covering</a>
        </li>
    </ul>
</header>
